﻿@model Bigschool.ViewModels.CourseViewModel
@using (Html.BeginForm("Create", "Courses"))
{
    <h2>Create</h2>
    <form>
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Place)
            @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Place)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Time)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Category)
            @Html.DropDownListFor(m => m.Category,
                  new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Category)
        </div>
        <button type="submit" value="Save" class="btn btn-primary">Save</button>
        @section scripts
        {
            @Scripts.Render("~/bundles/jqueryval");
        }
    </form>
}