﻿.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-dark {
    /* --bs-bg-opacity: 1; */
    background-color: rgb(255 162 37) !important;
}
.bg-dark .navbar-nav > li > a 
{
    color:aliceblue
}

.bg-dark .navbar-brand {
    color:aqua;
}